/* App */
.App {
  text-align: center;
}
.App {
  width: 100vw;
  height: 100%;
}

.App {
  background-color: #9a7878;
}

/* Ant design*/
.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}

[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}
[data-theme="dark"] .ant-layout-sider {
  background: #879097;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: rgb(158, 182, 199);
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
.code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

/* Home page */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.navPic {
  width: 100%;
  margin: 30px 0;
}

.loggedin-homepage {
  height: 80vh;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 50px;
  color: white;
  margin-top: 20px;
  font-size: 3em;
  font-weight: 100;
  text-shadow: 2px 2px 5px #000000;
}

/* Footer */
footer {
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

.footerText {
  color: rgb(225, 211, 211);
}

/* Header */
header {
  display: flex;
  justify-content: end;
  align-items: center;
}

/*Sign in and login pages*/
.site-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 77vh;
  background: #ececec;
  display: flex;
  background-color: rgb(158, 182, 199);
  margin: 10px;
}

.sign-log-card {
  width: 250px;
}

/* Main page*/
.SideBar {
  width: 200px;
  height: 80vh;
  background-color: #9a7878;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  color: white;
}

.SidebarList .SidebarRow {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SidebarList .SidebarRow:hover {
  cursor: pointer;
  background-color: #795c5c;
}

.SidebarList #active {
  background-color: #795c5c;
}

.Mainpage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.homepage-video {
  width: 1200px;
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin: 0;
  background-color: #879097;
}

.homepage-video:hover {
  opacity: 0.7;
}

.top-right-main-text {
  position: absolute;
  top: 8px;
  right: 50px;
  color: white;
  margin-top: 0px;
  margin-right: 220px;
  font-size: 3em;
  font-weight: 100;
  text-shadow: 2px 2px 10px #9a7878;
  padding-top: 80px;
}

/* AllRidesPage */
.Allridespage {
  display: flex;
}

.search-input{
  width: 400px;
  background-color: #ffffff33;
  color: white;
  border-color: white
}

.search-name{
  color: white;
  padding-top: 10px;
  text-shadow: 1px 1px 4px #000000;
}

.AllRidesCard-wrapper {
  background-color: rgb(158, 182, 199);
  width: 1060px;
  margin: 0;
  padding: 0;
}
.AllRidesCard {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
  padding-bottom: 10px;
  text-align: left;
  width: 1000px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}

.AllRidesCard-button {
  padding-left: 20px;
}

.AllRideCard-pic-text {
  display: flex;
  flex-direction: row;
}

.AllRideCard-text {
  padding-left: 10px;
}

.addRide-form {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}

.addRide-button {
  color: black;
}

.RidePicture:hover {
  opacity: 0.7;
}

form > input {
  color: black;
}

.addimage-button {
  color: black;
  margin: 10px 0;
}

.input-file {
  display: none;
}

/* RideDetailsPage */
.RideDetails {
  display: flex;
  color: white;
  text-align: left;
  background-color: #9a7878;
}

.RideDetails-header {
  color: white;
}

.RideDetails-box {
  padding: 20px;
  background-color: rgb(158, 182, 199);
  width: 1000px;
}

.RideDetails-box-inner {
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  padding: 20px;
}

/* AllRoutesPage */
.Allroutespage {
  display: flex;
}

.AllRoutesCard-wrapper {
  background-color: rgb(158, 182, 199);
  width: 1060px;
  margin: 0;
  padding: 0;
}
.AllRoutesCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  padding: 30px 40px;
  text-align: left;
  width: 1000px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}

/* MyRidesPage */
.Myridespage {
  display: flex;
}

.MyRidesCard-wrapper {
  background-color: rgb(158, 182, 199);
  width: 1070px;
  margin: 0;
  padding: 0;
}
.MyRidesCard {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
  text-align: left;
  width: 1000px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}

.MyRidesCard-inner {
  display: flex;
  flex-direction: row;
  width: 680px;
}

.MyRidesCard-inner-text {
  padding-left: 10px;
}


/* MyRoutesPage */
.MyRoutessCard {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
  text-align: left;
  width: 1000px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}


/* titles */
.PageTitle {
  padding-top: 20px;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

/* EditPage */
.Editpage {
  display: flex;
}

.EditRideCard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 1200px;
  display: flex;
  background-color: rgb(158, 182, 199);
}

.EditRideCard {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
  text-align: left;
  width: 1100px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}

.Edit-button {
  color: black;
}

/* MyProfilePage */
.Myprofilepage {
  display: flex;
}

.profileCard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 1000px;
  display: flex;
  background-color: rgb(158, 182, 199);
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  padding: 10px;
  text-align: center;
  width: 600px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  background-color: rgba(89, 105, 116, 0.416);
  color: white;
}

.EditProfile-box {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
}

/* AddRouteComponent */
.AddRoute {
  display: flex;
  flex-direction: column;
}

.addRoute-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-style: ridge;
  border-color: rgb(158, 182, 199);
  color: white;
}

.addroute-button {
  color: black;
  margin-top: 10px;
}

/* LoginPage */
.Loginpage{
  background-image: url("../src/images/pic22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  margin: 10px 0;
  height: 75vh;
  color: white
}

.login-form {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-shadow:2px 2px 3px black;
}

.input-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
}

.label {
  margin-bottom: 5px;
}

#login-btn {
  align-self: center;
  padding: 7px 30px;
  margin-top: 10px;
  border: none;
  color: #fff;
  background-color: #9a7878;
  box-shadow: 2px 2px 2px #9a7878;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

#login-btn:hover {
  background-color: rgb(158, 182, 199);
  box-shadow: none;
  transform: translateX(1px) translateY(1px);
}

.login-link{
  color: white;
}

.login-link:hover {
  color: white;
}

.notuser-text {
  margin-top: 10px;
  text-shadow:2px 2px 4px black;
  margin-bottom: 0;
}

/* SignupPage */
.SignupPage {
  background-image: url("../src/images/pic22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  margin: 10px 0;
  height: 75vh;
  color: white
}

